/* HTML */

h2 {
	text-align: center;
	font-size: 30px;
}

ul {
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

img {
	height: auto;
	max-width: 100%;
}

/* MENU */

nav {
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}

ul.menu li { float: left; }

ul.menu li a {
	color: black;
	display: inline-block;
	text-align: center;
	font-family: "copperplate", Times, serif;
	font-size: 19px;
	text-decoration: none;
	padding: 14px 16px;
}

/* HERO */

.hero-img { width: 100%; }

.logo-wrapper {
	left: 40px;
	position: absolute;
    top: 150px;
}

.logo-wrapper img { width: 45%; }

/* CUSTOM */

.description-wrapper {
    font-family: "verdana", Times, serif;
    font-size: 16px;
    left: 10px;
    padding: 30px 30px 50px 80px;
}

/* IMAGES */

.grid .img {
	border: 1px solid #fff;
	cursor: hand;
	cursor: pointer;
	float: left;
	padding: 2px;
	transition: 500ms ease-in-out;
	will-change: transform;
	width: 300px;
}

.grid .img:hover {
	box-shadow: 0px 0px 10px #ccc;
	transform: scale(0.9);
}